.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0 0 0;
    font-weight: 400;
}

.number {
    color: #FFFFFF;
    border-radius: 10px;
    background: hsl(0, 0%, 45%);
    padding: 10px;
    margin: 0 10px 10px 0;
}

.creation-info {
    color: hsl(0, 0%, 45%);
}