.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin: 5px 0 5px 0;
    color: hsl(0, 0%, 13%);
    font-size: 26px;
    font-weight: 700;
}

.description {
    margin: 5px 0 5px 0;
    color: hsl(0, 0%, 29%);
    font-weight: 400;
}